name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
env:
  AZURE_WEBAPP_NAME: ActionTestGS    # set this to your application's name
  AZURE_WEBAPP_PACKAGE_PATH: '.'  
  
jobs:
  build:
 
    runs-on: ubuntu-latest
 
    steps:
    - uses: actions/checkout@v1
 
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
 
    - name: Build
      run: dotnet build --configuration Release
      working-directory: TestWebApp
    
    - name: dotnet publish
      run: |
        dotnet publish -c Release -o '${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/myapp' 
      working-directory: TestWebApp
    
    - name: Run Azure Web App Deploy
      uses: azure/webapps-deploy@v2
      working-directory: TestWebApp
      with:
         app-name: ${{ env.AZURE_WEBAPP_NAME }} # Replace with your app name
         publish-profile: ${{ secrets.PUBLISH_PROFILE  }} # Define secret variable in repository settings as per action documentation
         package: '${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/myapp'
