name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
 
    runs-on: ubuntu-latest
 
    steps:
    - uses: actions/checkout@v1
 
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
 
    - name: Build
      run: dotnet build --configuration Release
      working-directory: TestWebApp
    
    - name: dotnet publish
      run: |
        dotnet publish -c Release -o dotnetcorewebapp 
    
    - name: Run Azure Web App Deploy
      uses: azure/webapps-deploy@v1
      with:
        app-name: ActionTestGS
        publish-profile: $PUBLISH_PROFILE
        package: './dotnetcorewebapp'
